# Compiled class file
*.class

# Prerequisites
*.d

# Object files
*.o

# Text files
*.txt

# Pdf files
*.pdf

# Backup files
*.backup
*.b
*.other

# Testcases directories
*.txt
testcases-*/
*-testcases-public/
*.zip

# Example Files
"3h Seira Askisewn"/ex3/read_mundial_SWI.pl
