# Compiled class file
*.class

# Prerequisites
*.d

# Object files
*.o

# Text files
*.txt

# Pdf files
*.pdf

# Backup files
*.backup
*.b
*.other

# Testcases directories
*.txt
testcases-*/
*-testcases-public/
*.zip

# Example Files
3h\ Seira\ Askisewn/read_mundial_SWI.pl

#C executable files
1h\ Seira\ Askisewn/ex1/c/agora
2h\ Seira\ Askisewn/ex2/c/doomsday
